body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
}

#logo-part-1{
    display: inline;
    font-family: "Arial Black", Gadget, sans-serif;
}

#logo-part-2{
    display: inline;
    font-family: "Arial", Gadget, sans-serif;
}

.navbar-NYU {
    background: #57078E;
}

#navbar-center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-NYU .navbar-brand {
    color: white;
    font-size: 30px;
    height: 100px;
    line-height: 110%;
}

.navbar-NYU .nav li a {
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar-NYU .nav li a {
    color: white;
    height: 100px;
    font-size: 16px;
}

.navbar-NYU .nav li a:hover{
    background-color: #140021;
    text-decoration: none;   
}

#home{
    margin-top: 100px;
}

#intro-video {
    width: 100%;
    height: auto;
}

#about, #spaces {
    padding: 8% 0%;
    background-color: #8901E1;
    color: white;
}

#about-text {
    font-weight: lighter;
    line-height: 200%;
    padding-top: 10%;
}

#about-img img{
    border-radius: 100%;
    width: 100%;
}

#equipment-header, #spaces-header, #credits-header{
    margin: auto;
    text-align: center;
    padding-top: 10px;
}

#device-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
}

#device-button{
    display: inherit;
    width: 220px;
    height:230px;
    background-color: white;
    border-color: white;
    border-radius: 20%;
    border: 5px solid;
    border-color: darkgrey;
}

#icon-container{
    width: inherit;
    height: inherit;
    display: inherit;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

#icon-container h3{
    width: 150px;
    margin: auto;
    text-align: center;
    padding-bottom: 10px;
    color: black;
}

.img-rounded{
    width: 150px;
    height: 150px;
    margin: auto;
    margin-bottom: 10px;
}

#device-button:hover{
    border-color: black;
}

#spaces {
    padding: 4% 0%;
    background-color: #8901E1;
    color: white;
}

#spaces-header{
    padding-bottom: 10px;
}

#spaces-carousel{
    width: 900px;
    height: 600px;
    margin: auto;
}

/* center images from carousel*/
.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 100%;
      margin: auto;
}

@media only screen and (max-width: 992px){
    #about-img{
        margin: 5% 15%;
    }
} 

@media only screen and (max-width: 768px){
    #about-img{
        margin: 5% 5%;
    }
} 