body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #1a1a1a;
    color: white;
    font-family: "Open Sans", sans-serif;
}

header{
    display: flex;
    justify-content:flex-start;
    height: 15%;
    background-color: #101010;
    width: 100%;
}

header h1{
    width: 25%; 
    padding-left: 1%;    
    font-family: sans-serif, Arial;
    text-align: center;
    height: 100%;
}

header nav{
    width:75%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    margin: 0;
}
header nav a{
    text-decoration: none;
    color: white;
    transition-property: background;
    transition-duration: 0.2s;
    transition-timing-function: linear;
    height: 100%;
    width: 16.6%;
    text-align: center;
    padding: 3%;
}

header nav a:hover{
    background-color: #140021;
    color: white;
    font-weight: bolder;
    text-decoration: none;
}



.container-mid{
    display: flex;
    flex-direction: column;
}

.container-home{
    width:100%;
}

.container-home video{
    max-width: 100%;
    width: auto;
    height: auto;
}

.container-about{
    display: flex;
    justify-content: space-around;
    width: 100%;
    background-color: white;
    padding: 11% 0%; 11% 0%;
}

.container-about .container-about-text{
    width: 40%;
    color:dimgray;
    margin:0;
}
.container-about .container-about-text h1{
    padding: 3% 0%;
}

.container-about .container-about-text p{
    padding-top: 5%;
    line-height: 200%;
}

.container-about #tempImageAbout{
    background-color: #57068c;
    width: 400px;   
    height: 300px;
    margin-left: -10%;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.container-about img{
    display: none;  
}

.container-equipment{
    width: 100%;
}

.container-equipment h1{
    text-align: center;
}

.container-equipment .container-devices{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
}

.container-equipment .container-devices a{
    width: 300px;
    height: 200px;
    padding: 1%;
    margin: 2%;
    text-align: center;
    background-color: grey;
    border-radius: 10%;
}


.container-equipment .container-devices a {
    text-decoration: none;
    color: white;
}
.container-equipment .container-devices a h3{
    font-weight: bold;
    font-size: 26px;
}

.container-equipment .container-devices a p{
    font-weight: lighter;
    line-height: 200%;
    padding-top: 4%;
}

.container-spaces{
    padding: 2%;
    background-color: white;
    color:dimgray;  
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#tempDiv{
    width:900px;
    height: 600px;
    background-color: darkviolet;
}


